body,html{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.95em;
	text-align: center;
}
#chart{
	background-color: #F5F2EB;
	/*background-color: white;*/
	border: 1px solid #CCC;
}
.bar {
	fill: purple;
	shape-rendering: crispEdges;
}
.bar-label {
	text-anchor: middle;
	fill: black;
	font-size: 15px;
}

.axis path,
.axis line{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.gridlines path,
.gridlines line{
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}
.point {
	fill: blue;
}
.trendlines {
	fill : none;
	stroke: green;
	stroke-width: 3px;
	stroke-dasharray: 2px;
}
.fillArea {
	opacity: 0.25;
	fill: lime;
	stroke: lime;
	stroke-width: 1px;
}
.donut {
	opacity: 0.15;
}
.chart-label {
	font-size: 17px;
	text-transform: capitalize;
}